@import url('https://fonts.googleapis.com/css?family=Catamaran:500');

.Logo {
    position: absolute;
    top: 10px;
    left: 10px;

    width: auto;
    height: 85%;
    background-size: contain;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    letter-spacing: 4.5px;
    font-family: 'Catamaran', sans-serif;

    cursor: pointer;

    .svg {
        position: absolute;
        left: 0px;
        height: 100%;
        
        #topPart {
            fill: $primary-color;
            animation: logoPartsComeIn 1s;
        }
        #bottomPart {
            fill: $primary-light-color;
            animation: logoPartsComeIn 2s;
        }

        text {
            fill: lighten($primary-light-color, 20);
            font-size: 16px;
            text-align: right;
            animation: logoTextComeIn 3s;
        }
    }
}

.Logo:hover {

    transition-duration: 2s;

    .svg {        
        #topPart {
            fill: lighten($primary-color, 7);
        }
        #bottomPart {
            fill: lighten($primary-light-color, 7);
        }

        text {
            fill: lighten($primary-light-color, 25);
        }
    }
}

@media only screen and(max-width: 700px) {
    .Logo {
        top: 15px;
        left: 15px;
        height: 60%;
    }
}

@keyframes logoPartsComeIn {
    0% {opacity: 0; transform: translateY(-10px);}
    40% {opacity: 0; transform: translateY(-10px);}
    100% {opacity: 1; transform: translateY(0px);}
}

@keyframes logoTextComeIn {
    0% {opacity: 0; transform: translateX(-10px);}
    40% {opacity: 0; transform: translateX(-10px);}
    100% {opacity: 1; transform: translateX(0px);}
}