.BasicLineRechart, .ygoChart
{
    width: 450px;
    max-width: 80vw;
}

.NumberDataDisplay
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    box-sizing: border-box;
    padding: 30px;
    max-width: 400px;

    text-align: center;

    .data
    {
        font-size: 3em;
        text-align: center;
    }
}


@media only screen and (max-width: 600px) {
    .BasicLineRechart {
        width: 100%;
        min-width: 100px;
    }
}