.MainPage {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;

    .siteDescription
    {
        width: 80%;
        margin: 20px;

        font-size: 2em;
        text-align: center;
    }
}