.DiscordButton {
    position: fixed;

    bottom: 35%;
    left: 0%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    box-sizing: border-box;
    padding-left: 13px;
    padding-right: 13px;

    background-color: lighten($primary-dark-color, 8);
    box-shadow: -3px 3px 10px 0px rgba(#000, 0.4);

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    color: inherit;
    text-decoration: inherit;

    transform: rotate(-90deg);
    transform-origin: 0% 0%;

    z-index: 100;
    cursor: pointer;

    .text {
        margin: 8px;
        font-size: 1.1em;
    }

    i {
        margin: 8px;
        font-size: 1.7em;
    }

}

.DiscordButton:hover {
    background-color: lighten($primary-dark-color, 15);

}

@media only screen and (max-height: 500px) {
    .DiscordButton {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 0.6em;
    }
}