.Header {
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;

    width: 100%;
    color: $light-text-color;
    
    z-index: 20;
    
    .headerBg {     
            align-self: flex-start;
            width: 100%;
            height: 200px;
        
            background-color: $header-background-color;
            box-shadow: 2px 2px 5px 0px rgba(#000, 0.2);
    }

    .pageName {
        position: absolute;
        bottom: -60px;
        
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        width: 120px;
        height: 120px;
        background-color: $primary-color;
        box-sizing: border-box;
        box-shadow: 3px 3px 10px 0px rgba(#000, 0.4);
        border: 3px solid $primary-light-color;
        transform: rotate(45deg);

        .innerText {
            transform: rotate(-45deg);

        }

        text-align: center;
        padding: 7px;
        font-size: 1.5em;
    }

    .pageName.enter {
        animation: pageNameEnter 1s ease-out;
        z-index: 10;

    }

    .pageName.leave {
        animation: pageNameLeave 0.8s ease-in-out;
        z-index: 5;
        transform: translateX(0px)  scale(0) rotate(90deg)
    }

}

@keyframes pageNameEnter{
    0% {transform: translateX(-30vw) scale(0) rotate(-35deg)}
    25% {transform: translateX(-30vw) scale(0) rotate(45deg)}
    100% {transform: translateX(0px)  scale(1) rotate(45deg)}
}

@keyframes pageNameLeave{
    0% {transform: translateX(0px) scale(1) rotate(45deg)}
    100% {transform: translateX(50px)  scale(0) rotate(90deg)}
}


@media only screen and (max-width: 600px) {
    .Header {
        .pageName {
            bottom: -40px;
            width: 80px;
            height: 80px;
        }
    }
}