$primary-light-color: rgb(186, 125, 204);
$primary-color: rgb(161, 48, 196);
$primary-dark-color: rgb(81, 25, 99);

$secondary-color: rgb(78, 212, 206);
$secondary-dark-color: rgb(43, 129, 125);
$secondary-light-color: rgb(173, 241, 238);
$header-background-color: rgb(71, 16, 84);

$background-color: rgb(45, 2, 56);

$light-text-color: #eee;
$dark-text-color: rgb(44, 4, 58);