@import url("https://fonts.googleapis.com/css?family=Roboto|ZCOOL+XiaoWe");
@import url("https://fonts.googleapis.com/css?family=Catamaran:500");
.MainPage {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.MainPage .siteDescription {
  width: 80%;
  margin: 20px;
  font-size: 2em;
  text-align: center;
}

.Header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #eee;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
}
.Header .headerBg {
  width: 100%;
  height: 200px;
  background-color: #471054;
}
.Header .pageName {
  position: absolute;
  bottom: -60px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #a130c4;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  border: 3px solid #ba7dcc;
  transform: rotate(45deg);
  text-align: center;
  padding: 7px;
  font-size: 1.5em;
}
.Header .pageName .innerText {
  transform: rotate(-45deg);
}
.Header .pageName.enter {
  animation: pageNameEnter 1s ease-out;
  z-index: 10;
}
.Header .pageName.leave {
  animation: pageNameLeave 0.8s ease-in-out;
  z-index: 5;
  transform: translateX(0px) scale(0) rotate(90deg);
}

@keyframes pageNameEnter {
  0% {
    transform: translateX(-30vw) scale(0) rotate(-35deg);
  }
  25% {
    transform: translateX(-30vw) scale(0) rotate(45deg);
  }
  100% {
    transform: translateX(0px) scale(1) rotate(45deg);
  }
}
@keyframes pageNameLeave {
  0% {
    transform: translateX(0px) scale(1) rotate(45deg);
  }
  100% {
    transform: translateX(50px) scale(0) rotate(90deg);
  }
}
@media only screen and (max-width: 600px) {
  .Header .pageName {
    bottom: -40px;
    width: 80px;
    height: 80px;
  }
}
.Nav {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  color: #eee;
  z-index: 100;
}
.Nav .NavButton {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #ba7dcc;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  margin-top: 0px;
  transform: translateX(0px) scale(0.85) rotate(45deg);
  width: 80px;
  height: 80px;
  background-color: #a130c4;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.Nav .NavButton .text {
  font-size: 1em;
  transform: rotate(-45deg);
  transition: 0.5s ease;
}
.Nav .NavButton i {
  font-size: 1.8em;
}
.Nav .NavButton:hover {
  box-shadow: 0px 0px 0px 2px white;
}
.Nav .NavButton:hover .text {
  text-shadow: 0px 0px 5px white;
}
@keyframes borderanimation {
  from {
    box-shadow: 0px 0px 0px 0px white;
  }
  to {
    box-shadow: 0px 0px 0px 5px white;
  }
}
.Nav .NavButton:nth-of-type(1) {
  margin: 10px;
  z-index: 10;
  box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.4);
  transform: rotate(-135deg);
  transition: 0.9s ease;
}
.Nav .NavButton:nth-of-type(2) {
  transition-delay: 0.1s;
  z-index: 6;
}
.Nav .NavButton:nth-of-type(3) {
  transition-delay: 0.15s;
  z-index: 4;
}
.Nav .NavButton:nth-of-type(4) {
  transition-delay: 0.2s;
  z-index: 2;
}
.Nav .NavButton:nth-of-type(5) {
  transition-delay: 0.25s;
  z-index: 0;
}

.Nav.collapsed .NavButton {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
}
.Nav.collapsed .NavButton .text {
  transform: rotate(0deg);
}
.Nav.collapsed .NavButton:nth-of-type(1) {
  width: 64px;
  height: 64px;
  transform: translateX(0px) scale(1) rotate(0deg);
}
.Nav.collapsed .NavButton:nth-of-type(2) {
  margin-right: 0px;
  transform: translateX(80px) scale(0) rotate(60deg);
}
.Nav.collapsed .NavButton:nth-of-type(3) {
  margin-right: 0px;
  transform: translateX(160px) scale(0) rotate(90deg);
}
.Nav.collapsed .NavButton:nth-of-type(4) {
  margin-right: 0px;
  transform: translateX(240px) scale(0) rotate(120deg);
}
.Nav.collapsed .NavButton:nth-of-type(5) {
  margin-right: 0px;
  transform: translateX(320px) scale(0) rotate(150deg);
}

@media only screen and (max-width: 600px) {
  .Nav {
    flex-flow: column nowrap;
    top: 0px;
    right: 0px;
  }
  .Nav .NavButton {
    margin-right: 0px;
    margin-top: 20px;
    width: 64px;
    height: 64px;
  }

  .Nav.collapsed .NavButton:nth-of-type(1) {
    width: 48px;
    height: 48px;
    transform: translateX(0px) scale(1) rotate(0deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(2) {
    margin-right: 0px;
    transform: translateY(-128px) scale(0) rotate(60deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(3) {
    margin-right: 0px;
    transform: translateY(-192px) scale(0) rotate(90deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(4) {
    margin-right: 0px;
    transform: translateY(-256px) scale(0) rotate(120deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(5) {
    margin-right: 0px;
    transform: translateY(-320px) scale(0) rotate(150deg);
  }
}
.PageContainer {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  width: 100vw;
  height: auto;
}
.PageContainer .pageContent {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: stretch;
  background-color: #2d0238;
  padding: 10px;
  padding-top: 100px;
  box-sizing: border-box;
}
.PageContainer .pageContent .page {
  flex: 1 1 100%;
}

@media only screen and (max-width: 600px) {
  .PageContainer .pageContent {
    padding: 10px;
    padding-top: 40px;
  }
}
.DeckList {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.DeckList .searchResult {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  margin-top: 30px;
}
.DeckList .pagesList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.DeckList .pagesList .pageNumber {
  background-color: #511963;
  font-size: 1.2em;
  text-align: center;
  border: solid #72238c 1px;
  border-radius: 2px;
  margin: 3px;
  padding: 6px;
  min-width: 30px;
  min-height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.DeckList .pagesList i {
  margin: 4px;
  font-size: 0.8em;
}
.DeckList .pagesList .currentPage {
  background-color: #a130c4;
}

.DeckPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.DeckPage .deckName {
  font-size: 2.2em;
  margin: 10px;
  width: 80%;
  text-align: center;
}
.DeckPage .info {
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Roboto", sans-serif;
  color: #bbb;
  margin: 5px;
}
.DeckPage .info tr th {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.DeckPage .info tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
.DeckPage .info tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.DeckPage .cardsList {
  background-color: rgba(109, 209, 255, 0.2);
  font-family: "Roboto", sans-serif;
  color: #bbb;
  margin: 25px;
}
.DeckPage .cardsList tr th {
  text-align: left;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 2px;
}
.DeckPage .cardsList tr th .card {
  margin: 1px;
}
.DeckPage .cardsList tr th:nth-child(1) {
  color: #ddd;
}
.DeckPage .cardsList tr th:nth-child(2) {
  min-width: 20vw;
}
.DeckPage .cardsList tr:nth-child(odd) {
  background-color: rgba(109, 209, 255, 0.2);
}
.DeckPage .cardsList tr:nth-child(even) {
  background-color: rgba(109, 209, 255, 0.1);
}

.BasicLineRechart, .ygoChart {
  width: 450px;
  max-width: 95vw;
}

.NumberDataDisplay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px;
  max-width: 400px;
  text-align: center;
}
.NumberDataDisplay .data {
  font-size: 3em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .BasicLineRechart {
    width: 100%;
    min-width: 100px;
  }
}
.DiscordButton {
  position: fixed;
  bottom: 35%;
  left: 0%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #6c2184;
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: inherit;
  text-decoration: inherit;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  z-index: 100;
  cursor: pointer;
}
.DiscordButton .text {
  margin: 8px;
  font-size: 1.1em;
}
.DiscordButton i {
  margin: 8px;
  font-size: 1.7em;
}

.DiscordButton:hover {
  background-color: #8328a0;
}

@media only screen and (max-height: 500px) {
  .DiscordButton {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.6em;
  }
}
.DonateButton {
  position: fixed;
  bottom: 1%;
  left: 0%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #a130c4;
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: inherit;
  text-decoration: inherit;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  z-index: 100;
  cursor: pointer;
}
.DonateButton .text {
  margin: 8px;
  font-size: 1.1em;
}
.DonateButton i {
  margin: 8px;
  font-size: 1.7em;
}

.DonateButton:hover {
  background-color: #b146d2;
}

@media only screen and (max-height: 500px) {
  .DonateButton {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.6em;
  }
}
.Logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: 85%;
  background-size: contain;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 4.5px;
  font-family: "Catamaran", sans-serif;
  cursor: pointer;
}
.Logo .svg {
  height: 100%;
}
.Logo .svg #topPart {
  fill: #a130c4;
  animation: logoPartsComeIn 1s;
}
.Logo .svg #bottomPart {
  fill: #ba7dcc;
  animation: logoPartsComeIn 2s;
}
.Logo .svg text {
  fill: #e1c6e9;
  font-size: 16px;
  text-align: right;
  animation: logoTextComeIn 3s;
}

.Logo:hover {
  transition-duration: 2s;
}
.Logo:hover .svg #topPart {
  fill: #b146d2;
}
.Logo:hover .svg #bottomPart {
  fill: #c897d6;
}
.Logo:hover .svg text {
  fill: #ebd9f0;
}

@media only screen and (max-width: 700px) {
  .Logo {
    top: 15px;
    left: 15px;
    height: 60%;
  }
}
@keyframes logoPartsComeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  40% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes logoTextComeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  40% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.SearchBar {
  padding: 1px;
  background-color: #a130c4;
  box-sizing: border-box;
  border: 3px solid #ba7dcc;
  animation: descend 2.5s;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
}
.SearchBar input {
  background-color: #a130c4;
  color: #eee;
  width: auto;
  border: none;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: inherit;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  width: auto;
  max-width: 150px;
}
.SearchBar input:focus {
  outline: none;
}
.SearchBar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #eee;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .SearchBar {
    margin-top: 30px;
  }
}
.SearchPanel {
  position: fixed;
  top: 40%;
  right: 0%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.SearchPanel .toggleButton {
  background-color: #6f2187;
  padding: 12px;
  padding-right: 4px;
  font-size: 1.2em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
.SearchPanel .toggleButton:hover {
  background-color: #8628a3;
}
.SearchPanel .toggleButton:active {
  background-color: #a130c4;
}
.SearchPanel .content {
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-height: 100%;
  border: solid #a130c4 3px;
  border-right: none;
  background-color: #6f2187;
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  padding: 5px;
  padding-right: 0px;
  padding-left: 0px;
  width: auto;
  max-width: 0px;
  transition: 1s ease;
}
.SearchPanel .content input {
  background-color: #a130c4;
  color: #eee;
  border: solid #ba7dcc 2px;
  border-radius: 5px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  margin-right: 5px;
  margin-left: 10px;
  font-family: inherit;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
}
.SearchPanel .content input:focus {
  outline: none;
}
.SearchPanel .content label {
  margin: 2px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 5px;
}
.SearchPanel .content button {
  background-color: #a130c4;
  border: 3px solid #ba7dcc;
  border-radius: 10px;
  color: #eee;
  padding: 5px;
  margin: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.SearchPanel .content button:hover {
  background-color: #af42d1;
}
.SearchPanel .content button:active {
  background-color: #b95ad7;
}
.SearchPanel .content button:focus {
  outline: none;
}
.SearchPanel .content.active {
  max-width: 400px;
}

.DeckResult {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 5px;
  background-color: #511963;
  border-radius: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}
.DeckResult .info {
  padding: 3px;
  margin: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
.DeckResult .name {
  padding: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
  text-align: center;
  font-weight: 600;
  background-color: #8328a0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.DeckResult:hover {
  background-color: #6c2184;
}
.DeckResult:hover .name {
  background-color: #942eb4;
}

.DeckResult:active {
  background-color: #8629a4;
}
.DeckResult:active .name {
  background-color: #a433c9;
}

@media only screen and (max-width: 600px) {
  .DeckResult {
    font-size: 0.9em;
  }
}
.LoadingIcon {
  animation: loadingAnimationMainPart 6s infinite;
}
.LoadingIcon .innerPart {
  width: 50px;
  height: 50px;
  border: solid #a130c4 3px;
  animation: loadingAnimationInnerPart 0.5s infinite;
  transform: rotate(45deg);
}

@keyframes loadingAnimationInnerPart {
  0% {
    border-bottom: solid #a130c4 8px;
  }
  25% {
    border-left: solid #a130c4 8px;
  }
  50% {
    border-top: solid #a130c4 8px;
  }
  100% {
    border-right: solid #a130c4 8px;
  }
}
@keyframes loadingAnimationMainPart {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "ZCOOL XiaoWei", serif;
  overflow-x: hidden;
  font-size: 18px;
  color: #eee;
}
body .App {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100vh;
}

h2 {
  font-size: 1.5em;
}

.centredFlexContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@keyframes descend {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  40% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
