@import url("https://fonts.googleapis.com/css?family=Roboto|ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css?family=Catamaran:500");
.MainPage {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.MainPage .siteDescription {
  width: 80%;
  margin: 20px;
  font-size: 2em;
  text-align: center;
}
.MainPage .simpleDataContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 40%;
  max-width: 500px;
}

.Header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #eee;
  z-index: 20;
}
.Header .headerBg {
  align-self: flex-start;
  width: 100%;
  height: 200px;
  background-color: #471054;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.Header .pageName {
  position: absolute;
  bottom: -60px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #a130c4;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  border: 3px solid #ba7dcc;
  transform: rotate(45deg);
  text-align: center;
  padding: 7px;
  font-size: 1.5em;
}
.Header .pageName .innerText {
  transform: rotate(-45deg);
}
.Header .pageName.enter {
  animation: pageNameEnter 1s ease-out;
  z-index: 10;
}
.Header .pageName.leave {
  animation: pageNameLeave 0.8s ease-in-out;
  z-index: 5;
  transform: translateX(0px) scale(0) rotate(90deg);
}

@keyframes pageNameEnter {
  0% {
    transform: translateX(-30vw) scale(0) rotate(-35deg);
  }
  25% {
    transform: translateX(-30vw) scale(0) rotate(45deg);
  }
  100% {
    transform: translateX(0px) scale(1) rotate(45deg);
  }
}
@keyframes pageNameLeave {
  0% {
    transform: translateX(0px) scale(1) rotate(45deg);
  }
  100% {
    transform: translateX(50px) scale(0) rotate(90deg);
  }
}
@media only screen and (max-width: 600px) {
  .Header .pageName {
    bottom: -40px;
    width: 80px;
    height: 80px;
  }
}
.Nav {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  color: #eee;
  z-index: 100;
}
.Nav .NavButton {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #ba7dcc;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  margin-top: 0px;
  transform: translateX(0px) scale(0.85) rotate(45deg);
  width: 80px;
  height: 80px;
  background-color: #a130c4;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.Nav .NavButton .text {
  font-size: 1em;
  transform: rotate(-45deg);
  transition: 0.5s ease;
}
.Nav .NavButton i {
  font-size: 1.8em;
}
.Nav .NavButton:hover {
  box-shadow: 0px 0px 0px 2px white;
}
.Nav .NavButton:hover .text {
  text-shadow: 0px 0px 5px white;
}
@keyframes borderanimation {
  from {
    box-shadow: 0px 0px 0px 0px white;
  }
  to {
    box-shadow: 0px 0px 0px 5px white;
  }
}
.Nav .NavButton:nth-of-type(1) {
  margin: 10px;
  z-index: 10;
  box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.4);
  transform: rotate(-135deg);
  transition: 0.9s ease;
}
.Nav .NavButton:nth-of-type(2) {
  transition-delay: 0.1s;
  z-index: 6;
}
.Nav .NavButton:nth-of-type(3) {
  transition-delay: 0.15s;
  z-index: 4;
}
.Nav .NavButton:nth-of-type(4) {
  transition-delay: 0.2s;
  z-index: 2;
}
.Nav .NavButton:nth-of-type(5) {
  transition-delay: 0.25s;
  z-index: 0;
}
.Nav .NavButton:nth-of-type(6) {
  transition-delay: 0.3s;
  z-index: -2;
}
.Nav .NavButton:nth-of-type(7) {
  transition-delay: 0.35s;
  z-index: -4;
}

.Nav.collapsed .NavButton {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
}
.Nav.collapsed .NavButton .text {
  transform: rotate(0deg);
}
.Nav.collapsed .NavButton:nth-of-type(1) {
  width: 64px;
  height: 64px;
  transform: translateX(0px) scale(1) rotate(0deg);
}
.Nav.collapsed .NavButton:nth-of-type(2) {
  margin-right: 0px;
  transform: translateX(80px) scale(0) rotate(60deg);
}
.Nav.collapsed .NavButton:nth-of-type(3) {
  margin-right: 0px;
  transform: translateX(160px) scale(0) rotate(90deg);
}
.Nav.collapsed .NavButton:nth-of-type(4) {
  margin-right: 0px;
  transform: translateX(240px) scale(0) rotate(120deg);
}
.Nav.collapsed .NavButton:nth-of-type(5) {
  margin-right: 0px;
  transform: translateX(320px) scale(0) rotate(150deg);
}
.Nav.collapsed .NavButton:nth-of-type(6) {
  margin-right: 0px;
  transform: translateX(400px) scale(0) rotate(180deg);
}
.Nav.collapsed .NavButton:nth-of-type(7) {
  margin-right: 0px;
  transform: translateX(480px) scale(0) rotate(210deg);
}

@media only screen and (max-width: 600px) {
  .Nav {
    flex-flow: column nowrap;
    top: 0px;
    right: 0px;
  }
  .Nav .NavButton {
    margin-right: 0px;
    margin-top: 20px;
    width: 64px;
    height: 64px;
  }

  .Nav.collapsed .NavButton:nth-of-type(1) {
    width: 48px;
    height: 48px;
    transform: translateX(0px) scale(1) rotate(0deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(2) {
    margin-right: 0px;
    transform: translateY(-128px) scale(0) rotate(60deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(3) {
    margin-right: 0px;
    transform: translateY(-192px) scale(0) rotate(90deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(4) {
    margin-right: 0px;
    transform: translateY(-256px) scale(0) rotate(120deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(5) {
    margin-right: 0px;
    transform: translateY(-320px) scale(0) rotate(150deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(6) {
    margin-right: 0px;
    transform: translateY(-384px) scale(0) rotate(180deg);
  }
  .Nav.collapsed .NavButton:nth-of-type(7) {
    margin-right: 0px;
    transform: translateY(-448px) scale(0) rotate(210deg);
  }
}
.PageContainer {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  width: 100vw;
  height: auto;
}
.PageContainer .pageContent {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: stretch;
  padding: 20px;
  padding-top: 100px;
  box-sizing: border-box;
}
.PageContainer .pageContent .page {
  flex: 1 1 100%;
}

@media only screen and (max-width: 600px) {
  .PageContainer .pageContent {
    padding: 10px;
    padding-top: 40px;
  }
}
.About {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.About .info {
  padding: 20px;
  font-size: 1.3em;
  line-height: 1.3em;
  max-width: 600px;
  text-align: center;
}
.About .info .paragraph {
  margin-bottom: 30px;
}
.About .info a {
  color: #a130c4;
}
.About .info a:hover {
  color: #ba7dcc;
}

.DeckList {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 35px;
}
.DeckList .searchResult {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  max-width: 1100px;
  margin-top: 30px;
}
.DeckList .resultsOnPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.DeckList .resultsOnPage .desc {
  font-size: 0.8em;
  opacity: 0.6;
  margin-right: 5%;
}
.DeckList .resultsOnPage .options {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 4px;
  width: 100%;
}
.DeckList .resultsOnPage .options .option {
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.6;
  font-size: 0.9em;
  cursor: pointer;
}
.DeckList .resultsOnPage .options .option:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.DeckList .resultsOnPage .options .option.active {
  opacity: 1;
  text-decoration: underline;
}
.DeckList .pagesList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.DeckList .pagesList .pageNumber {
  background-color: #511963;
  font-size: 1.2em;
  text-align: center;
  border: solid #72238c 1px;
  border-radius: 2px;
  margin: 3px;
  padding: 6px;
  min-width: 30px;
  min-height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.DeckList .pagesList i {
  margin: 4px;
  font-size: 0.8em;
}
.DeckList .pagesList .currentPage {
  background-color: #a130c4;
}

.DeckPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}
.DeckPage div {
  margin-left: 20px;
  margin-right: 20px;
}
.DeckPage .deckName {
  font-size: 2.2em;
  margin: 10px;
  width: 85%;
  text-align: center;
}
.DeckPage .info {
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Roboto", sans-serif;
  color: #bbb;
  margin: 5px;
}
.DeckPage .info tr th {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.DeckPage .info tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
.DeckPage .info tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.DeckPage .cardsList {
  align-self: flex-start;
  background-color: rgba(109, 209, 255, 0.2);
  flex: 1 1 80%;
  font-family: "Roboto", sans-serif;
  color: #bbb;
  margin: 25px;
}
.DeckPage .cardsList thead {
  height: 20px;
  font-size: 1.4em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
}
.DeckPage .cardsList tBody tr th {
  text-align: left;
  font-size: 0.9em;
  padding: 10px;
  margin: 2px;
}
.DeckPage .cardsList tBody tr th .card {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.DeckPage .cardsList tBody tr th .card i {
  font-size: 0.7em;
  border-radius: 8px;
  padding: 4px;
  margin-right: 5px;
  background-color: rgba(34, 0, 112, 0.644);
}
.DeckPage .cardsList tBody tr th .card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.DeckPage .cardsList tBody tr th:nth-child(1) {
  color: #ddd;
}
.DeckPage .cardsList tBody tr th:nth-child(2) {
  min-width: 20vw;
}
.DeckPage .cardsList tBody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.18);
}
.DeckPage .cardsList tBody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.DeckPage .cardsList.mainDeck {
  background-color: #100238;
}
.DeckPage .cardsList.sideDeck {
  background-color: #023038;
}
.DeckPage .cardsList.extraDeck {
  background-color: #380228;
}

.ArchetypeList {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 35px;
}
.ArchetypeList .searchResult {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  max-width: 1100px;
  margin-top: 30px;
}
.ArchetypeList .resultsOnPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.ArchetypeList .resultsOnPage .desc {
  font-size: 0.8em;
  opacity: 0.6;
  margin-right: 5%;
}
.ArchetypeList .resultsOnPage .options {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 4px;
  width: 100%;
}
.ArchetypeList .resultsOnPage .options .option {
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.6;
  font-size: 0.9em;
  cursor: pointer;
}
.ArchetypeList .resultsOnPage .options .option:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.ArchetypeList .resultsOnPage .options .option.active {
  opacity: 1;
  text-decoration: underline;
}
.ArchetypeList .pagesList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ArchetypeList .pagesList .pageNumber {
  background-color: #511963;
  font-size: 1.2em;
  text-align: center;
  border: solid #72238c 1px;
  border-radius: 2px;
  margin: 3px;
  padding: 6px;
  min-width: 30px;
  min-height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.ArchetypeList .pagesList i {
  margin: 4px;
  font-size: 0.8em;
}
.ArchetypeList .pagesList .currentPage {
  background-color: #a130c4;
}

.ArchetypeResult {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 5px;
  background-color: #511963;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
  max-width: 120px;
  min-height: 80px;
  cursor: pointer;
}
.ArchetypeResult .name {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 600;
  background-color: #8328a0;
  width: 100%;
}
.ArchetypeResult .gamesWinData {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  font-size: 1.1em;
}
.ArchetypeResult .gamesWinData .games,
.ArchetypeResult .gamesWinData .win {
  flex: 1 1 30%;
  padding: 3px;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  min-width: 18px;
}
.ArchetypeResult .gamesWinData .games .desc,
.ArchetypeResult .gamesWinData .win .desc {
  opacity: 0.6;
  font-size: 0.7em;
}
.ArchetypeResult .gamesWinData .games .data,
.ArchetypeResult .gamesWinData .win .data {
  width: 100%;
  font-size: 1em;
}
.ArchetypeResult .gamesWinData .win {
  text-align: right;
}

.ArchetypeResult:hover {
  background-color: #6c2184;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
.ArchetypeResult:hover .name {
  background-color: #942eb4;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.ArchetypeResult:hover .desc {
  opacity: 0.9;
}
.ArchetypeResult:hover .gamesWinData .desc {
  opacity: 0.9;
}

.ArchetypeResult:active {
  background-color: #8629a4;
}
.ArchetypeResult:active .name {
  background-color: #a433c9;
}

@media only screen and (max-width: 600px) {
  .ArchetypeResult {
    max-width: 100px;
    min-height: 60px;
    font-size: 0.9em;
  }
}
.ArchetypePage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}
.ArchetypePage div {
  margin-left: 20px;
  margin-right: 20px;
}
.ArchetypePage .name {
  font-size: 2.2em;
  margin: 10px;
  width: 85%;
  text-align: center;
}
.ArchetypePage .info {
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Roboto", sans-serif;
  color: #bbb;
  margin: 5px;
  min-width: 300px;
}
.ArchetypePage .info tr th {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.ArchetypePage .info tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
.ArchetypePage .info tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.ArchetypePage .cardsList {
  align-self: flex-start;
  background-color: rgba(109, 209, 255, 0.2);
  flex: 1 1 auto;
  font-family: "Roboto", sans-serif;
  color: #bbb;
  margin: 25px;
}
.ArchetypePage .cardsList thead {
  height: 20px;
  font-size: 1.4em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
}
.ArchetypePage .cardsList tBody tr th {
  text-align: left;
  font-size: 0.9em;
  padding: 10px;
  margin: 2px;
}
.ArchetypePage .cardsList tBody tr th .card {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.ArchetypePage .cardsList tBody tr th .card i {
  font-size: 0.7em;
  border-radius: 8px;
  padding: 4px;
  margin-right: 5px;
  background-color: rgba(34, 0, 112, 0.644);
}
.ArchetypePage .cardsList tBody tr th .card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.ArchetypePage .cardsList tBody tr th:nth-child(1) {
  color: #ddd;
}
.ArchetypePage .cardsList tBody tr th:nth-child(2) {
  min-width: 20vw;
}
.ArchetypePage .cardsList tBody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.18);
}
.ArchetypePage .cardsList tBody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.ArchetypePage .cardsList {
  background-color: #27212b;
}

.BanlistList {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 35px;
}
.BanlistList .searchResult {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  max-width: 1100px;
  margin-top: 30px;
}
.BanlistList .resultsOnPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.BanlistList .resultsOnPage .desc {
  font-size: 0.8em;
  opacity: 0.6;
  margin-right: 5%;
}
.BanlistList .resultsOnPage .options {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 4px;
  width: 100%;
}
.BanlistList .resultsOnPage .options .option {
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.6;
  font-size: 0.9em;
  cursor: pointer;
}
.BanlistList .resultsOnPage .options .option:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.BanlistList .resultsOnPage .options .option.active {
  opacity: 1;
  text-decoration: underline;
}
.BanlistList .pagesList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.BanlistList .pagesList .pageNumber {
  background-color: #511963;
  font-size: 1.2em;
  text-align: center;
  border: solid #72238c 1px;
  border-radius: 2px;
  margin: 3px;
  padding: 6px;
  min-width: 30px;
  min-height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.BanlistList .pagesList i {
  margin: 4px;
  font-size: 0.8em;
}
.BanlistList .pagesList .currentPage {
  background-color: #a130c4;
}

.BanlistResult {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 5px;
  background-color: #511963;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
  max-width: 150px;
  min-height: 95px;
  cursor: pointer;
}
.BanlistResult .name {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 600;
  background-color: #8328a0;
  width: 100%;
}
.BanlistResult .date {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  width: 100%;
}
.BanlistResult .date .desc {
  opacity: 0.4;
  font-size: 0.65em;
}
.BanlistResult .date .data {
  padding: 2px;
  font-size: 0.9em;
}
.BanlistResult .gamesWinData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.BanlistResult .gamesWinData .games,
.BanlistResult .gamesWinData .win {
  flex: 1 1 30%;
  padding: 2px;
  justify-content: space-around;
}
.BanlistResult .gamesWinData .games .desc,
.BanlistResult .gamesWinData .win .desc {
  opacity: 0.6;
  font-size: 0.7em;
}
.BanlistResult .gamesWinData .games .data,
.BanlistResult .gamesWinData .win .data {
  width: 100%;
  font-size: 1em;
}
.BanlistResult .gamesWinData .win {
  text-align: right;
}

.BanlistResult:hover {
  background-color: #6c2184;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
.BanlistResult:hover .name {
  background-color: #942eb4;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.BanlistResult:hover .desc {
  opacity: 0.9;
}
.BanlistResult:hover .gamesWinData .desc {
  opacity: 0.9;
}

.BanlistResult:active {
  background-color: #8629a4;
}
.BanlistResult:active .name {
  background-color: #a433c9;
}

@media only screen and (max-width: 600px) {
  .BanlistResult {
    font-size: 0.9em;
    max-width: 60px;
    min-height: 70px;
  }
}
.Banlist {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}
.Banlist div {
  margin-left: 20px;
  margin-right: 20px;
}
.Banlist .banlistName {
  font-size: 2.2em;
  margin: 10px;
  width: 85%;
  text-align: center;
}
.Banlist .info {
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Roboto", sans-serif;
  color: #bbb;
  margin: 5px;
  min-width: 300px;
}
.Banlist .info tr th {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.Banlist .info tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
.Banlist .info tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.Banlist .cardsList {
  align-self: flex-start;
  background-color: rgba(109, 209, 255, 0.2);
  flex: 1 1 80%;
  font-family: "Roboto", sans-serif;
  color: #bbb;
  margin: 25px;
}
.Banlist .cardsList thead {
  height: 20px;
  font-size: 1.4em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
}
.Banlist .cardsList tBody tr th {
  text-align: left;
  font-size: 0.9em;
  padding: 10px;
  margin: 2px;
}
.Banlist .cardsList tBody tr th .card {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.Banlist .cardsList tBody tr th .card i {
  font-size: 0.7em;
  border-radius: 8px;
  padding: 4px;
  margin-right: 5px;
  background-color: rgba(34, 0, 112, 0.644);
}
.Banlist .cardsList tBody tr th .card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.Banlist .cardsList tBody tr th:nth-child(1) {
  color: #ddd;
}
.Banlist .cardsList tBody tr th:nth-child(2) {
  min-width: 20vw;
}
.Banlist .cardsList tBody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.18);
}
.Banlist .cardsList tBody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.Banlist .cardsList.bannedCards {
  background-color: #100238;
}
.Banlist .cardsList.limitedCards {
  background-color: #023038;
}
.Banlist .cardsList.semiLimitedCards {
  background-color: #380228;
}

.BasicLineRechart, .ygoChart {
  width: 450px;
  max-width: 80vw;
}

.NumberDataDisplay,
.StatusDataDisplay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  max-width: 400px;
  text-align: center;
}
.NumberDataDisplay .description,
.StatusDataDisplay .description {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.NumberDataDisplay .dataContainer,
.StatusDataDisplay .dataContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 10px;
  width: 45px;
  height: 45px;
  transform: rotate(45deg);
  background-color: #511963;
}
.NumberDataDisplay .dataContainer .data,
.StatusDataDisplay .dataContainer .data {
  font-size: 1.9em;
  text-align: center;
  transform: rotate(-45deg);
}

.StatusDataDisplay {
  width: 100%;
}
.StatusDataDisplay .dataContainer {
  width: 60px;
  height: 60px;
}
.StatusDataDisplay .dataContainer .data {
  font-size: 1.3em;
}

.StatusDataDisplay.true .dataContainer {
  background-color: #217521;
}

.StatusDataDisplay.false .dataContainer {
  background-color: #6d0000;
}

@media only screen and (max-width: 600px) {
  .BasicLineRechart {
    width: 100%;
    min-width: 100px;
  }

  .NumberDataDisplay .dataContainer {
    width: 30px;
    height: 30px;
  }

  .StatusDataDisplay .dataContainer {
    width: 45px;
    height: 45px;
  }
}
.DiscordButton {
  position: fixed;
  bottom: 35%;
  left: 0%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #6c2184;
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: inherit;
  text-decoration: inherit;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  z-index: 100;
  cursor: pointer;
}
.DiscordButton .text {
  margin: 8px;
  font-size: 1.1em;
}
.DiscordButton i {
  margin: 8px;
  font-size: 1.7em;
}

.DiscordButton:hover {
  background-color: #8328a0;
}

@media only screen and (max-height: 500px) {
  .DiscordButton {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.6em;
  }
}
.DonateButton {
  position: fixed;
  bottom: 1%;
  left: 0%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #a130c4;
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: inherit;
  text-decoration: inherit;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  z-index: 100;
  cursor: pointer;
}
.DonateButton .text {
  margin: 8px;
  font-size: 1.1em;
}
.DonateButton i {
  margin: 8px;
  font-size: 1.7em;
}

.DonateButton:hover {
  background-color: #b146d2;
}

@media only screen and (max-height: 500px) {
  .DonateButton {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.6em;
  }
}
.Logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: 85%;
  background-size: contain;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 4.5px;
  font-family: "Catamaran", sans-serif;
  cursor: pointer;
}
.Logo .svg {
  position: absolute;
  left: 0px;
  height: 100%;
}
.Logo .svg #topPart {
  fill: #a130c4;
  animation: logoPartsComeIn 1s;
}
.Logo .svg #bottomPart {
  fill: #ba7dcc;
  animation: logoPartsComeIn 2s;
}
.Logo .svg text {
  fill: #e1c6e9;
  font-size: 16px;
  text-align: right;
  animation: logoTextComeIn 3s;
}

.Logo:hover {
  transition-duration: 2s;
}
.Logo:hover .svg #topPart {
  fill: #b146d2;
}
.Logo:hover .svg #bottomPart {
  fill: #c897d6;
}
.Logo:hover .svg text {
  fill: #ebd9f0;
}

@media only screen and (max-width: 700px) {
  .Logo {
    top: 15px;
    left: 15px;
    height: 60%;
  }
}
@keyframes logoPartsComeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  40% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes logoTextComeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  40% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.SearchBar {
  padding: 1px;
  background-color: #a130c4;
  box-sizing: border-box;
  border: 3px solid #ba7dcc;
  animation: descend 2.5s;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
}
.SearchBar input {
  background-color: #a130c4;
  color: #eee;
  width: auto;
  border: none;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: inherit;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  width: auto;
  max-width: 150px;
}
.SearchBar input:focus {
  outline: none;
}
.SearchBar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #eee;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .SearchBar {
    margin-top: 30px;
  }
}
.SearchPanel {
  position: fixed;
  top: 30%;
  right: 0%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.SearchPanel .toggleButton {
  background-color: #6f2187;
  padding: 12px;
  padding-right: 4px;
  font-size: 1.2em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
.SearchPanel .toggleButton:hover {
  background-color: #8628a3;
}
.SearchPanel .toggleButton:active {
  background-color: #a130c4;
}
.SearchPanel .content {
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-height: 100%;
  border: solid #a130c4 3px;
  border-right: none;
  background-color: #6f2187;
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  padding: 5px;
  padding-right: 0px;
  padding-left: 0px;
  width: auto;
  max-width: 0px;
  transition: 1s ease;
}
.SearchPanel .content label {
  white-space: nowrap;
}
.SearchPanel .content input {
  background-color: #a130c4;
  color: #eee;
  border: solid #ba7dcc 2px;
  border-radius: 5px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  margin-right: 5px;
  margin-left: 10px;
  font-family: inherit;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
}
.SearchPanel .content input:focus {
  outline: none;
}
.SearchPanel .content label {
  margin: 2px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 5px;
}
.SearchPanel .content button {
  background-color: #a130c4;
  border: 3px solid #ba7dcc;
  border-radius: 10px;
  color: #eee;
  padding: 5px;
  margin: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.SearchPanel .content button:hover {
  background-color: #af42d1;
}
.SearchPanel .content button:active {
  background-color: #b95ad7;
}
.SearchPanel .content button:focus {
  outline: none;
}
.SearchPanel .content.active {
  max-width: 400px;
}

.DeckResult {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 5px;
  background-color: #511963;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
  max-width: 150px;
  min-height: 105px;
  cursor: pointer;
}
.DeckResult .name {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 600;
  background-color: #8328a0;
  width: 100%;
}
.DeckResult .date {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  width: 100%;
}
.DeckResult .date .desc {
  opacity: 0.4;
  font-size: 0.65em;
}
.DeckResult .date .data {
  padding: 2px;
  font-size: 0.9em;
}
.DeckResult .gamesWinData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.DeckResult .gamesWinData .games,
.DeckResult .gamesWinData .win {
  flex: 1 1 30%;
  padding: 2px;
  justify-content: space-around;
}
.DeckResult .gamesWinData .games .desc,
.DeckResult .gamesWinData .win .desc {
  opacity: 0.6;
  font-size: 0.7em;
}
.DeckResult .gamesWinData .games .data,
.DeckResult .gamesWinData .win .data {
  width: 100%;
  font-size: 1em;
}
.DeckResult .gamesWinData .win {
  text-align: right;
}

.DeckResult:hover {
  background-color: #6c2184;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
.DeckResult:hover .name {
  background-color: #942eb4;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.DeckResult:hover .desc {
  opacity: 0.9;
}
.DeckResult:hover .gamesWinData .desc {
  opacity: 0.9;
}

.DeckResult:active {
  background-color: #8629a4;
}
.DeckResult:active .name {
  background-color: #a433c9;
}

@media only screen and (max-width: 600px) {
  .DeckResult {
    font-size: 0.9em;
    max-width: 60px;
    min-height: 70px;
  }
}
.LoadingIcon {
  animation: loadingAnimationMainPart 6s infinite;
}
.LoadingIcon .innerPart {
  width: 50px;
  height: 50px;
  border: solid #a130c4 3px;
  animation: loadingAnimationInnerPart 0.5s infinite;
  transform: rotate(45deg);
}

.LoadingIcon.hidden {
  opacity: 0;
  width: 0px;
  height: 0px;
  animation: none;
}
.LoadingIcon.hidden .innerPart {
  width: 0px;
  height: 0px;
  animation: none;
}

@keyframes loadingAnimationInnerPart {
  0% {
    border-bottom: solid #a130c4 8px;
  }
  25% {
    border-left: solid #a130c4 8px;
  }
  50% {
    border-top: solid #a130c4 8px;
  }
  100% {
    border-right: solid #a130c4 8px;
  }
}
@keyframes loadingAnimationMainPart {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.SimpleButton {
  font-size: 1em;
  font-family: inherit;
  color: #eee;
  padding: 10px;
  margin: 10px;
  background-color: #511963;
  border: 3px solid #ba7dcc;
  border-radius: 15px;
  cursor: pointer;
}

.SimpleButton:hover {
  background-color: #8628a3;
}

.SimpleButton:active {
  background-color: #a130c4;
  outline: none;
}

.SelectFromListField {
  margin-top: 5px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.SelectFromListField .options {
  position: fixed;
  box-sizing: border-box;
  margin-top: 30px;
  width: 200px;
  background-color: #511963;
}
.SelectFromListField .options .option {
  width: 100%;
  margin-top: 1px;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
}
.SelectFromListField .options .option:hover {
  background-color: #a130c4;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "ZCOOL XiaoWei", serif;
  overflow-x: hidden;
  font-size: 18px;
  color: #eee;
  background-image: url("./squareBg.svg");
  background-repeat: repeat;
  background-size: 40px;
  background-color: #31023d;
}
body .App {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100vh;
}

h2 {
  font-size: 1.5em;
}

.centredFlexContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@keyframes descend {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  40% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
