@import url('https://fonts.googleapis.com/css?family=Roboto|ZCOOL+XiaoWei&display=swap');

@import "./colors.scss";

@import "./Pages/Main/Main.scss";
@import "./Shared/Header/Header.scss";
@import "./Shared/Nav/Nav.scss";
@import "./Shared/PageContainer/PageContainer.scss";
@import "./Pages/Statisctics/Statistics.scss";
@import "./Pages/DeckList/DeckList.scss";
@import "./Pages/DeckPage/DeckPage.scss";
@import "./Pages/ArchetypeList/ArchetypeList.scss";
@import "./Pages/ArchetypeList/ArchetypeResult/ArchetypeResult.scss";
@import "./Pages/ArchetypePage/ArchetypePage.scss";
@import "./Pages/BanlistList/BanlistList.scss";
@import "./Pages/BanlistList/BanlistResult/BanlistResult.scss";
@import "./Pages/BanlistPage/BanlistPage.scss";

@import "./Shared/Recharts/Recharts.scss";
@import "./Shared/DiscordButton/DiscordButton.scss";
@import "./Shared/DonateButton/DonateButton.scss";
@import "./Shared/Header/subcomponents/Logo.scss";
@import "./Shared/SearchBar/SearchBar.scss";
@import "./Shared/SearchPanel/SearchPanel.scss";
@import "./Pages/DeckList/DeckResult/DeckResult.scss";
@import "./Shared/LoadingIcon/LoadingIcon.scss";
@import "./Shared/SimpleButton/SimpleButton.scss";
@import "./Shared/SelectFromListField/SelectFromListField.scss";

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'ZCOOL XiaoWei', serif;

    overflow-x: hidden;

    font-size: 18px;
    color: $light-text-color;
    background-image: url("./squareBg.svg");
    background-repeat: repeat;
    background-size: 40px;
    background-color: lighten($background-color, 1);



    .App {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: stretch;

        min-height: 100vh;
    }

}

h2 {
    font-size: 1.5em;
}

.centredFlexContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

@keyframes descend {
    0% {opacity: 0; transform: translateY(-150px);}
    40% {opacity: 0; transform: translateY(-150px);}
    100% {opacity: 1; transform: translateY(0px);}
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
}