$navButtonWidth: 80;


.Nav{
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;

    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;

    color: $light-text-color;

    z-index: 100;


    .NavButton {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        border: 1.5px solid $primary-light-color;
        box-shadow: 5px 5px 10px 0px rgba(#000, 0.3);

        margin-right: 20px;
        margin-top: 0px;

        transform:  translateX(0px) scale(0.85) rotate(45deg);

        width: $navButtonWidth + px;
        height: $navButtonWidth + px;
        background-color: $primary-color;
        cursor: pointer;

        transition: 0.3s ease-out;

        .text {
            font-size: 1em;
            transform: rotate(-45deg);
            transition: 0.5s ease;
        }

        i {
            font-size: 1.8em;
        }

    }

    .NavButton:hover {
        box-shadow: 0px 0px 0px 2px white;

        .text {
            text-shadow: 0px 0px 5px white;
        }
    }

    @keyframes borderanimation {
        from {
            box-shadow: 0px 0px 0px 0px white;
        }
        to {
            box-shadow: 0px 0px 0px 5px white;
        }
    }

    .NavButton:nth-of-type(1) {
        margin: 10px;
        z-index: 10;
        box-shadow: -3px -3px 5px 0px rgba(#000, 0.4);

        transform: rotate(-135deg);
        transition: 0.9s ease;
    }

    @for $i from 2 through 7 {
        .NavButton:nth-of-type( #{$i} ) {
            transition-delay: 0.1 * $i / 2 + s;
            z-index: 10 - $i * 2;
        }
    }

}

.Nav.collapsed {
    .NavButton {
        box-shadow: 3px 3px 10px 0px rgba(#000, 0.4);

        .text {
            transform: rotate(0deg);
        }
    }

    .NavButton:nth-of-type(1) {
        width: $navButtonWidth * 0.8 + px;
        height: $navButtonWidth * 0.8 + px;
        transform:  translateX(0px) scale(1) rotate(0deg);
    }

    @for $i from 2 through 7 {
        .NavButton:nth-of-type( #{$i} ) {
            margin-right: 0px;
            transform:  translateX( $navButtonWidth * ($i - 1) + px) scale(0) rotate(30 * $i + deg);
        }
    }
}

@media only screen and (max-width: 600px) {

    .Nav {
        flex-flow: column nowrap;

        top: 0px;
        right: 0px;

        .NavButton {
            margin-right: 0px;
            margin-top: 20px;

            width: $navButtonWidth * 0.8 + px;
            height: $navButtonWidth * 0.8 + px;
        }
    }

    .Nav.collapsed {
   
        .NavButton:nth-of-type(1) {
            width: $navButtonWidth * 0.6 + px;
            height: $navButtonWidth * 0.6 + px;
            transform:  translateX(0px) scale(1) rotate(0deg);
        }

        @for $i from 2 through 7 {
            .NavButton:nth-of-type( #{$i} ) {
                margin-right: 0px;
                transform:  translateY( $navButtonWidth * 0.8 * ($i) * -1 + px) scale(0) rotate(30 * $i + deg);
            }
        }
    }
}